<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat page</title>
</head>
<body>
<table>
    <tr>
        <td>
           <div id="outputmessage"></div>
        </td>
        <td>
            <div id="activeusers"></div>
       </td>
    </tr>
    <tr>
        <td>
            <form>
                <input type="text" id="inputmessage"/>
            </form>
        </td>
        <td>
            <form>
                <input type="button" id="send"/>
                <input type="button" id="broadcast"/>
                <input type="button" id="logout"/>
            </form>

        </td>
    </tr>

</table>
</body>
</html>